body {
    margin: 0;
}

.container {
    margin: 0px 166px;
}

.header {
    background-image: url(../img/bg.jpg);
    background-color: rgba(0, 0,0, 0.3);
    background-position: center;
    background-blend-mode: overlay;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-down{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.header-title {
    max-width:50%;
    color: coral;
    background-color: rgba(0, 0,0, 0.8);
    font-size: 50px;
    font-weight: 600;
    padding:30px 10px;
    font-family: 'Raleway', sans-serif;
    text-align:center;
}

.header-subtitle {
    color: coral;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

.header-subsubtitle {
    color: white;
    margin:20px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

.header-button{ margin:0px auto;}

.header-button img{
    width:10%;
}

.t1 .left_side img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 0px 25px 0px 25px;
}

.t11{
    padding: 100px;
}

.t2{
    height: auto;
    padding: 50px;
    background-color: antiquewhite;
}

.basement {
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding: 30px;
    background-color:black;
    color: aliceblue;
}

.gr1{
    height: 25vh;
    background: -moz-radial-gradient(center, ellipse cover,white,  antiquewhite);
background: -webkit-linear-gradient(top,   white,  antiquewhite);
background: -o-linear-gradient(top, white,  antiquewhite);
background: -ms-linear-gradient(top, white,  antiquewhite);
}

.gr2{
    height: 25vh;
    background: -moz-radial-gradient(center, ellipse cover, antiquewhite,chocolate);
background: -webkit-linear-gradient(top,  antiquewhite,chocolate);
background: -o-linear-gradient(top,  antiquewhite,chocolate);
background: -ms-linear-gradient(top,   antiquewhite,chocolate);
}

.t1{
    margin:0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    align-items: center;
    justify-items: center;
    max-width: 80%;
}

.t1 .rs-text{
    color:brown;
    margin:25px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

.map{
    padding: 0px;
    background-color:chocolate;
}

.bigblock{
width: 100%; 
padding: 10px 20px 20px 20px;
height: auto;
box-sizing: border-box;
}

.news{width:90%;
  margin: 0 auto;}

.news_item{
position: relative;
width:90%;
height: auto;
padding: 20px;
margin: 10px auto;
    background-color: rgba(0, 0,0, 0.7);
box-shadow: 0 10px 20px rgba(0,0,0,0.15);
border-radius:20px;
}
.news-title{
    color:white;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
.news-text{
    color:white;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

.basement-title{
    margin:0px auto;
     color:white;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.anchor{
    display:flex;
    justify-content: center;
}

.hat{
    height:auto;
    background-color: rgba(0, 0,0, 0.8);
    background-blend-mode: overlay;
    padding: 0px 100px;
    display:flex;
    align-items: center;
    min-width: 250px;
}
